#messages {
    width: 40em;
    border: 1px solid grey;
    min-height: 50vh;
    max-height: 70vh;
    width: 20%;
    overflow: auto;
}
#messages img {
    max-width: 240px;
    max-height: 160px;
    display: block;
}

#header {
    position: fixed;
    top: 0;
    background-color: white;
}

.push {
    margin-bottom: 2em;
}

@keyframes yellow-fade {
    0% {
        background: #f2f2b8;
    }
    100% {
        background: none;
    }
}

.highlight {
    -webkit-animation: yellow-fade 2s ease-in 1;
    animation: yellow-fade 2s ease-in 1;
}
